<br>
<br>
<div class="container">
  <h3>Accessible Components</h3>
  <br>
<table class="table table-hover">
  <thead>
    <tr>
      <th scope="col">COMPONENT</th>
      <th scope="col">DESCRIPTION</th>
      <th scope="col">REFERENCE</th>
    </tr>
  </thead>
  <tbody class="table-group-divider">
    <tr>
      <td scope="row">Accordion</td>
      <td>An accordion is a list of headers that hide or reveal additional content when selected.</td>
      <td><a href="remediation/accordion">accordion</a></td>
    </tr>
    <tr>
      <td scope="row">Alert</td>
      <td>A message with important, and usually time-sensitive, information.</td>
      <td><a href="remediation/alert">alert</a></td>
    </tr>
    <tr>
      <td scope="row">Button</td>
      <td>A button draws attention to important actions with a large selectable surface.</td>
      <td><a href="remediation/button">button</a></td>
    </tr>
    <tr>
      <td scope="row">Carousel</td>
      <td>A slideshow component for cycling through elements—images or slides of text.</td>
      <td><a href="remediation/carousel">carousel</a></td>
    </tr>
    <tr>
      <td scope="row">Checkbox</td>
      <td>Checkboxes allow users to select one or more options from a list.</td>
      <td><a href="remediation/checkbox">checkbox</a></td>
    </tr>
    <tr>
      <td scope="row">Datepicker</td>
      <td>A date picker helps users select a range between two dates.</td>
      <td><a href="remediation/datepicker">datepicker</a></td>
    </tr>
    <tr>
      <td scope="row">Dialog</td>
      <td>An application window that is designed to prompt the user to enter information or require a response.</td>
      <td><a href="remediation/dialog">dialog</a></td>
    </tr>
    <tr>
      <td scope="row">Expand/Collapse</td>
      <td>It contains the content that is hidden.</td>
      <td><a href="remediation/expand-collapse">expand-collapse</a></td>
    </tr>
    <tr>
      <td scope="row">Link</td>
      <td>A link connects users to a different page or further information.</td>
      <td><a href="remediation/link">link</a></td>
    </tr>
    <tr>
      <td scope="row">Live Region Playground</td>
      <td>Explore ARIA live regions, their attributes, and their behaviors.</td>
      <td><a href="remediation/live-region-playground">live-region-playground</a></td>
    </tr>
    <tr>
      <td scope="row">Navigation(Hierarchical) with Expand/Collapse</td>
      <td>A collection of navigational elements (usually links) for navigating the document or related documents.</td>
      <td><a href="remediation/navigation">navigation</a></td>
    </tr>
    <tr>
      <td scope="row">Predictive Text</td>
      <td>The predictive text pattern allows users to type in values or to select values from a list of possible matches.</td>
      <td><a href="remediation/predictive-text">predictive-text</a></td>
    </tr>
    <tr>
      <td scope="row">Progress Bar</td>
      <td>An element that displays the progress status for tasks that take a long time.</td>
      <td><a href="remediation/progress-bar">progress-bar</a></td>
    </tr>
    <tr>
      <td scope="row">Radio and Radio Group</td>
      <td>Radio buttons allow users to select exactly one choice from a group.</td>
      <td><a href="remediation/radio-and-radio-group">radio-and-radio-group</a></td>
    </tr>
    <tr>
      <td scope="row">Shopping Cart</td>
      <td>A bucket/cart to add items supposed to be purchased.</td>
      <td><a href="remediation/shopping-cart">shopping-cart</a></td>
    </tr>
    <tr>
      <td scope="row">Slider</td>
      <td>A user input where the user selects a value from within a given range.</td>
      <td><a href="remediation/slider">slider</a></td>
    </tr>
    <tr>
      <td scope="row">Table</td>
      <td>A section containing data arranged in rows and columns.</td>
      <td><a href="remediation/table">table</a></td>
    </tr>
    <tr>
      <td scope="row">Tabpanel</td>
      <td>A container for the resources associated with a tab, where each tab is contained in a tablist.</td>
      <td><a href="remediation/tabpanel">tabpanel</a></td>
    </tr>
    <tr>
      <td scope="row">Tooltip</td>
      <td>A contextual popup that displays a description for an element.</td>
      <td><a href="remediation/tooltip">tooltip</a></td>
    </tr>
    <tr>
      <td scope="row">Tree View</td>
      <td>A tree view is a hierarchical structure with parent and child nodes that can expand and collapse.</td>
      <td><a href="remediation/tree-view">tree-view</a></td>
    </tr>
  </tbody>
</table>
</div>
