<br>

<div class="container" id="main">


  <div id="inner-wrap" class="wrap hfeed kt-clear">
  	<div id="primary" class="content-area">
  	  <div class="content-container site-container">
  		  <main id="main" class="site-main" role="main">
  				<div class="content-wrap">
  				  <article id="post-1461" class="entry content-bg single-entry post-footer-area-boxed post-1461 post type-post status-publish format-standard has-post-thumbnail hentry category-wcag tag-a11y tag-keyboard tag-operable tag-wcag">
  	          <div class="entry-content-wrap">
  		          <header class="entry-header post-title title-align-inherit title-tablet-align-inherit title-mobile-align-inherit">
  	              <div class="kadence-breadcrumbs rankmath-bc-wrap">
                    <nav aria-label="breadcrumbs" class="rank-math-breadcrumb">
                      <p id="p">
                        <a href="/home">Home</a><span class="separator"> » </span>
                        <span class="last">Understanding SC 2.4.1 Bypass Blocks</span>
                      </p>
                    </nav>
                  </div>
                        <div class="entry-taxonomies">
                   <span class="category-links term-links category-style-normal">
                    <a href="https://www.digitala11y.com/category/web-accessibility/wcag/" rel="tag">WCAG</a>
                   </span>
                      </div><!-- .entry-taxonomies -->
                        <h1 class="entry-title">Understanding SC 2.4.1 Bypass Blocks</h1>

                </header><!-- .entry-header -->

                <div class="entry-content single-content">


               <nav id="navbar" class="navbar bg-light px-3 mb-3">
                  <!-- <a class="navbar-brand" href="#">Navbar</a> -->
                  <div class="container">
                    <span class="listitem" id="pp">Table of Contents</span>
                  </div>
                  <div class="container" id="p">
                    <ul class="nav nav-pills">
                      <ul>
                        <li>
                          <a class="list-group-item" href="#desc">Description</a>
                        </li>
                        <li>
                          <a class="list-group-item" href="#ck">Code</a>
                        </li>
                        <!-- <li>
                          <a class="list-group-item" href="#HeadingEx">Exception</a>
                        </li> -->
                        <li>
                          <a class="list-group-item" href="#Heading1">Points to Ponder</a>
                        </li>
                        <ul>
                          <li>
                            <a class="list-group-item" href="#Heading2">Related WCAG Articles</a>
                          </li>
                          <ul>
                            <li>
                              <a class="list-group-item" href="#Heading4">References</a>
                            </li>
                          </ul>

                        </ul>
                      </ul>


                      <!-- <li>

                        <a class="list-group-item" href="#Heading1">Points to Ponder</a>
                        <ul>
                          <li>
                          <a class="list-group-item" href="#Heading2">Related WCAG Articles</a>
                          </li>
                          <ul>
                            <li>

                              <a class="list-group-item" href="#Heading3">Useful Resources on Keyboard</a>
                            </li>
                          </ul>
                          <ul>
                            <li>
                              <a class="list-group-item" href="#Heading4">References</a>
                            </li>
                          </ul>

                        </ul>
                      </li> -->
                    </ul>
                  </div>


                </nav>
                <hr>
                <div data-bs-spy="scroll" data-bs-target="#navbar" data-bs-root-margin="0px 0px -40%" data-bs-smooth-scroll="true" class="scrollspy-example bg-light p-3 rounded-2" tabindex="0">
                  <!-- <h4 id="Heading1">Points To Ponder</h4> -->
                  <div class="wp-block-image">
                  <figure class="aligncenter size-full is-resized">
                    <img decoding="async" src="https://i0.wp.com/www.digitala11y.com/wp-content/uploads/2021/11/2.4.1-Bypass-blocks.png?resize=256%2C256&ssl=1" alt="" class="wp-image-12379 lazyloaded" width="256" height="256" data-recalc-dims="1" data-ll-status="loaded">
                    <noscript>
                      <img decoding="async" src="https://i0.wp.com/www.digitala11y.com/wp-content/uploads/2021/11/2.1.1-Keyboard.png?resize=256%2C256&#038;ssl=1" alt="" class="wp-image-12379" width="256" height="256" data-recalc-dims="1" />
                    </noscript>
                  </figure>
                  </div>

                  <blockquote id="desc">
                    <p class="p" id="p">
                    Success Criterion 2.4.1 Bypass Blocks: A mechanism is
                    available to bypass blocks of content that are repeated
                     on multiple Web pages. (Level A).
                    </p>

                    <p class="p" id="p">The intent of this success criterion is
                       to provide a skip mechanism that will enable the users
                       skip the repeated content blocks such as navigational
                       menus, advertisements or help the users to jump to a
                       particular location on the web page. The mechanism can
                       comprise of “Skip links”, landmarks and/or headings
                       or a combination of any of these.
                     </p>
                     <p class="p" id="p">While Assistive technologies such as
                       screen readers provide a mechanism to jump according to
                       headings, landmarks, lists & form controls it is always
                       a best practice to provide a skip link at the top of
                       the page & where ever it is appropriate.
                      </p>

                  </blockquote>
                  <br>





                   <hr>
                   <br>
                   <h4 id="ck">Code</h4>
                   <div class="container">
                     <p class="p" id="p">
                       &lt;a href=”#jump”&gt;Jump to references&lt;/a&gt;
                       <br>
                       &lt;h2 id=”jump”&gt;references&lt;/h2&gt;
                     </p>


                   </div>

                   <!--<hr>
                    <br>
                   <h4 id="HeadingEx">Exception</h4>
                   <div class="container">
                     <p class="p" id="p">
                       An exception has been provided for this check point so
                       that designers/developers who want to use flashing content
                        can use with caution. Here is the exception:
                        The combined area of flashes occurring
                         concurrently occupies no more than a total of .006
                         steradians within any 10 degree visual field on the
                         screen (25% of any 10 degree visual field on the screen)
                        at typical viewing distance.
                     </p>
                   </div> -->



                    <hr>
                    <br>
                    <h4 id="Heading1">Points To Ponder</h4>

                    <div class="container">
                      <ul class="ul-1">
                        <li class="listitem-1">
                          <div class="container">
                            <svg style="display:inline-block;vertical-align:middle" viewBox="0 0 24 24" height="20" width="20" fill="none" stroke="currentColor" xmlns="http://www.w3.org/2000/svg" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" aria-hidden="true">
                              <path d="M22 11.08V12a10 10 0 1 1-5.93-9.14"></path>
                              <polyline points="22 4 12 14.01 9 11.01"></polyline>
                            </svg>
                            <span class="list-text">
                              Provide a skip link on top of the page to skip navigational menus.</span>
                          </div>
                        </li>
                        <li class="listitem-1">
                          <div class="container">
                            <svg style="display:inline-block;vertical-align:middle" viewBox="0 0 24 24" height="20" width="20" fill="none" stroke="currentColor" xmlns="http://www.w3.org/2000/svg" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" aria-hidden="true">
                              <path d="M22 11.08V12a10 10 0 1 1-5.93-9.14"></path>
                              <polyline points="22 4 12 14.01 9 11.01"></polyline>
                            </svg>
                            <span class="kt-svg-icon-list-text">
                              Provide skip links to navigate to content on a large page.
                            </span>
                          </div>
                        </li>
                        <li class="listitem-1">
                          <div class="container">
                            <svg style="display:inline-block;vertical-align:middle" viewBox="0 0 24 24" height="20" width="20" fill="none" stroke="currentColor" xmlns="http://www.w3.org/2000/svg" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" aria-hidden="true">
                              <path d="M22 11.08V12a10 10 0 1 1-5.93-9.14"></path>
                              <polyline points="22 4 12 14.01 9 11.01"></polyline>
                            </svg>
                            <span class="kt-svg-icon-list-text">
                              Make sure that skip link is visible when it receives focus.
                            </span>
                          </div>
                        </li>
                        <li class="listitem-1">
                          <div class="container">
                            <svg style="display:inline-block;vertical-align:middle" viewBox="0 0 24 24" height="20" width="20" fill="none" stroke="currentColor" xmlns="http://www.w3.org/2000/svg" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" aria-hidden="true">
                              <path d="M22 11.08V12a10 10 0 1 1-5.93-9.14"></path>
                              <polyline points="22 4 12 14.01 9 11.01"></polyline>
                            </svg>
                            <span class="kt-svg-icon-list-text">
                              Make sure that purpose of the link is clear,
                               provide skip link text as skip to main content
                               or skip navigation etc.
                            </span>
                          </div>
                        </li>
                        <li class="listitem-1">
                          <div class="container">
                            <svg style="display:inline-block;vertical-align:middle" viewBox="0 0 24 24" height="20" width="20" fill="none" stroke="currentColor" xmlns="http://www.w3.org/2000/svg" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" aria-hidden="true">
                              <path d="M22 11.08V12a10 10 0 1 1-5.93-9.14"></path>
                              <polyline points="22 4 12 14.01 9 11.01"></polyline>
                            </svg>
                            <span class="kt-svg-icon-list-text">
                              When providing ARIA landmarks, ensure multiple
                              landmarks of the same type is not provided.
                            </span>
                          </div>
                        </li>
                        <li class="listitem-1">
                          <div class="container">
                            <svg style="display:inline-block;vertical-align:middle" viewBox="0 0 24 24" height="20" width="20" fill="none" stroke="currentColor" xmlns="http://www.w3.org/2000/svg" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" aria-hidden="true">
                              <path d="M22 11.08V12a10 10 0 1 1-5.93-9.14"></path>
                              <polyline points="22 4 12 14.01 9 11.01"></polyline>
                            </svg>
                            <span class="kt-svg-icon-list-text">
                              If provided, ensure to use aria-label to assign
                              unique names to such landmarks
                              <br>
                                “Primary navigation”, “secondary navigation” etc.
                            </span>
                          </div>
                        </li>


                      </ul>
                    </div>
<br>
<br>  <hr>
                  <h4 id="Heading2">Related WCAG Articles</h4>

                  <div class="container">
                    <ul class="ul-2">
                      <li class="listitem-2">
                        <div style="display:inline-flex;justify-content:center;align-items:center" class="kt-svg-icon-list-single kt-svg-icon-list-single-fe_eye">

                          <svg style="display:inline-block;vertical-align:middle" viewBox="0 0 24 24" height="20" width="20" fill="none" stroke="currentColor" xmlns="http://www.w3.org/2000/svg" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" aria-hidden="true"><path d="M19 21l-7-5-7 5V5a2 2 0 0 1 2-2h10a2 2 0 0 1 2 2z">
                          </path></svg>
                        </div>
                        <span class="kt-svg-icon-list-text">
                          <a href="/guidelines" data-type="post" data-id="1448">Understanding SC 2.4.2 Page Titled</a>
                        </span>
                      </li>
                      <li class="listitem-2">
                        <div style="display:inline-flex;justify-content:center;align-items:center" class="kt-svg-icon-list-single kt-svg-icon-list-single-fe_eye">

                          <svg style="display:inline-block;vertical-align:middle" viewBox="0 0 24 24" height="20" width="20" fill="none" stroke="currentColor" xmlns="http://www.w3.org/2000/svg" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" aria-hidden="true"><path d="M19 21l-7-5-7 5V5a2 2 0 0 1 2-2h10a2 2 0 0 1 2 2z">
                          </path></svg>
                        </div>
                        <span class="kt-svg-icon-list-text">
                          <a href="/guidelines" data-type="post" data-id="1448">Understanding SC 1.3.2 Meaningful Sequence</a>
                        </span>
                      </li>
                      <li class="listitem-2">
                        <div style="display:inline-flex;justify-content:center;align-items:center" class="kt-svg-icon-list-single kt-svg-icon-list-single-fe_eye">

                          <svg style="display:inline-block;vertical-align:middle" viewBox="0 0 24 24" height="20" width="20" fill="none" stroke="currentColor" xmlns="http://www.w3.org/2000/svg" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" aria-hidden="true"><path d="M19 21l-7-5-7 5V5a2 2 0 0 1 2-2h10a2 2 0 0 1 2 2z">
                          </path></svg>
                        </div>
                        <span class="kt-svg-icon-list-text">
                          <a href="/guidelines" data-type="post" data-id="1448">Understanding SC 3.2.3 Consistent Navigation</a>
                        </span>
                      </li>


                    </ul>
                  </div>

                  <!-- <h4 id="Heading3">Useful Resources on Keyboard</h4>
                  <p>...</p> -->

                  <br><hr>
                  <h4 id="Heading4">References</h4>


                  <div class="container">
                    <ul class="ul-3">
                      <li class="listitem-3">
                        <div style="display:inline-flex;justify-content:center;align-items:center" class="kt-svg-icon-list-single kt-svg-icon-list-single-fe_globe">

                          <svg style="display:inline-block;vertical-align:middle" viewBox="0 0 24 24" height="20" width="20" fill="none" stroke="currentColor" xmlns="http://www.w3.org/2000/svg" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" aria-hidden="true"><circle cx="12" cy="12" r="10"></circle><line x1="2" y1="12" x2="22" y2="12"></line><path d="M12 2a15.3 15.3 0 0 1 4 10 15.3 15.3 0 0 1-4 10 15.3 15.3 0 0 1-4-10 15.3 15.3 0 0 1 4-10z">
                            </path>
                          </svg>
                          <!-- <svg style="display:inline-block;vertical-align:middle" viewBox="0 0 24 24" height="20" width="20" fill="none" stroke="currentColor" xmlns="http://www.w3.org/2000/svg" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" aria-hidden="true"><path d="M19 21l-7-5-7 5V5a2 2 0 0 1 2-2h10a2 2 0 0 1 2 2z">
                          </path></svg> -->
                        </div>
                        <span class="kt-svg-icon-list-text"><a href="https://www.w3.org/TR/UNDERSTANDING-WCAG20/keyboard-operation-keyboard-operable.html" rel="nofollow noopener">Understanding Success Criterion 2.4.1 </a>
                        </span>
                      </li>
                    </ul>
                  </div>

                  <!-- <h4 id="scrollspyHeading5">Fifth heading</h4>
                  <p>...</p> -->
                </div>





                <div class="container justify-content-center">
                  <div class="row">
                    <div class="col-3">
                    </div>
                    <div class="col-sm-6 p-2">
                      <div class="container" id="p">
                        <a class="next text-center" href="/guidelines">Read Next: Understanding SC 2.4.2 Page Titled
                        </a>
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-3">
                    </div>
                    <div class="col-sm-6">
                      <div class="container" id="p">
                        <a class="previous text-center" href="https://www.digitala11y.com/wcag-checklist/">Explore our WCAG Checklist
                        </a>
                      </div>
                    </div>
                  </div>
                </div>


                <div class="container p-4">

                </div>


      </div><!-- .entry-content -->
  	</div>
  </article><!-- #post-1461 -->

  			</div>
  					</main><!-- #main -->

  	    </div>
    </div><!-- #primary -->
  </div>
</div>
