#main{
  background-color: #F7FAFC;
}
.listitem-1{
  font-size: 20px;
}

.p{
  font-size: 20px;
  justify-content: space-between;

}

.listitem-2{
  font-size: 20px;
}

.listitem-3{
  font-size: 20px;
}

#p{
  font-size: 20px;
}

#pp{
  font-size: 20px;
  font-weight: bold;
}
