<div class="main_body">

    <h4 class="a1">Components</h4>
    <h1 class="a2">Alert</h1>
    <p class="a3">An alert keeps users informed of important and sometimes time-sensitive changes.</p>

    <hr>

    <div class="accordion accordion-flush" id="accordionFlushExample">
        <div class="accordion-item ">
            <h2 class="accordion-header" id="flush-headingOne">
                <button class="accordion-button accordionHeader collapsed" type="button" data-bs-toggle="collapse"
                    data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne">
                    Accordion Item #1
                </button>
            </h2>
            <div id="flush-collapseOne" class="accordion-collapse collapse" aria-labelledby="flush-headingOne"
                data-bs-parent="#accordionFlushExample">
                <p class="c1">STANDARD ALERTS</p>
                <div class="accordionBody custom-color-1 div1">
                    

                        <svg width="35" height="35" viewBox="0 0 581 581" fill="none"
                            xmlns="http://www.w3.org/2000/svg">
                            <path
                                d="M290.193 48.3655C156.704 48.3655 48.3655 156.704 48.3655 290.193C48.3655 423.681 156.704 532.02 290.193 532.02C423.681 532.02 532.02 423.681 532.02 290.193C532.02 156.704 423.681 48.3655 290.193 48.3655ZM314.375 411.106H266.01V266.01H314.375V411.106ZM314.375 217.644H266.01V169.279H314.375V217.644Z"
                                fill="black" />
                        </svg>

                        <span>Information Status<br>
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod.</span>


                    </div>
                    <div class="accordionBody custom-color-2 div1">
                    
                        <svg width="35" height="35" viewBox="0 0 581 581" fill="none"
                            xmlns="http://www.w3.org/2000/svg">
                            <path
                                d="M290.193 48.3655C156.704 48.3655 48.3655 156.704 48.3655 290.193C48.3655 423.681 156.704 532.02 290.193 532.02C423.681 532.02 532.02 423.681 532.02 290.193C532.02 156.704 423.681 48.3655 290.193 48.3655ZM314.375 411.106H266.01V266.01H314.375V411.106ZM314.375 217.644H266.01V169.279H314.375V217.644Z"
                                fill="black" />
                        </svg>
                        <span>Warning status<br>
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod.</span>
                    </div>
                    

                    <div class="accordionBody custom-color-3 div1">
                        
                            <svg width="35" height="35" viewBox="0 0 581 581" fill="none"
                                xmlns="http://www.w3.org/2000/svg">
                                <path
                                    d="M290.193 48.3655C156.704 48.3655 48.3655 156.704 48.3655 290.193C48.3655 423.681 156.704 532.02 290.193 532.02C423.681 532.02 532.02 423.681 532.02 290.193C532.02 156.704 423.681 48.3655 290.193 48.3655ZM314.375 411.106H266.01V266.01H314.375V411.106ZM314.375 217.644H266.01V169.279H314.375V217.644Z"
                                    fill="black" />
                            </svg>
                            <span>Error status<br>
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod.</span>
                        </div>
                        

                        <div class="accordionBody custom-color-4 div1">
                            
                                <svg width="35" height="35" viewBox="0 0 581 581" fill="none"
                                    xmlns="http://www.w3.org/2000/svg">
                                    <path
                                        d="M290.193 48.3655C156.704 48.3655 48.3655 156.704 48.3655 290.193C48.3655 423.681 156.704 532.02 290.193 532.02C423.681 532.02 532.02 423.681 532.02 290.193C532.02 156.704 423.681 48.3655 290.193 48.3655ZM314.375 411.106H266.01V266.01H314.375V411.106ZM314.375 217.644H266.01V169.279H314.375V217.644Z"
                                        fill="black" />
                                </svg>
                                <span>Success status<br>
                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod.</span>
                            </div>
                            
                            <p class="c1">SLIM ALERT</p>

                            <div class="accordionBody custom-color-1 div2">
                                
                                    <svg width="35" height="35" viewBox="0 0 581 581" fill="none"
                                        xmlns="http://www.w3.org/2000/svg">
                                        <path
                                            d="M290.193 48.3655C156.704 48.3655 48.3655 156.704 48.3655 290.193C48.3655 423.681 156.704 532.02 290.193 532.02C423.681 532.02 532.02 423.681 532.02 290.193C532.02 156.704 423.681 48.3655 290.193 48.3655ZM314.375 411.106H266.01V266.01H314.375V411.106ZM314.375 217.644H266.01V169.279H314.375V217.644Z"
                                            fill="black" />
                                    </svg>
                                    <span>
                                        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod.</span>
                                </div>
                                <p class="c1">ALERT WITH NO ICON</p>

                                <div class="accordionBody custom-color-1 div2">
                                    
                                        <svg width="35" height="35" viewBox="0 0 581 581" fill="none"
                                            xmlns="http://www.w3.org/2000/svg">
                                            <path
                                                d="M290.193 48.3655C156.704 48.3655 48.3655 156.704 48.3655 290.193C48.3655 423.681 156.704 532.02 290.193 532.02C423.681 532.02 532.02 423.681 532.02 290.193C532.02 156.704 423.681 48.3655 290.193 48.3655ZM314.375 411.106H266.01V266.01H314.375V411.106ZM314.375 217.644H266.01V169.279H314.375V217.644Z"
                                                fill="black" />
                                        </svg>
                                        <span>
                                            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod.</span>
                                    </div>
                                </div>

                                    </div>
                        
                </div>
            </div>
        


   























