<div class="main_body">

    <h4 class="a1">Components</h4>       
    <h1 class="a2">Accordion</h1>
    <p  class="a3">An accordion is a list of headers that hide or reveal additional content when selected.</p>
    
    <hr>
    <div>
    <h1 class="a1">BORDERLESS</h1>
    
    <div class="accordion accordion-flush" id="accordionFlushExample">
      <div class="accordion-item">
        <h2 class="accordion-header" id="flush-headingOne">
          <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseOne1" aria-expanded="false" aria-controls="flush-collapseOne">
            First Amendment
          </button>
        </h2>
        <div id="flush-collapseOne1" class="accordion-collapse1 collapse" aria-labelledby="flush-headingOne" data-bs-parent="#accordionFlushExample">
          <div class="accordion-body">Congress shall make no law respecting an establishment of religion, or prohibiting the free exercise thereof; or abridging the freedom of speech, or of the press; or the right of the people peaceably to assemble, and to petition the Government for a redress of grievances.</div>
    </div>
      </div>
      <div class="accordion-item">
        <h2 class="accordion-header" id="flush-headingOne">
          <button class="accordion-button collapsed panel" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseOne2" aria-expanded="false" aria-controls="flush-collapseOne">
            Second Amendment
          </button>
        </h2>
        <div id="flush-collapseOne2" class="accordion-collapse1 collapse" aria-labelledby="flush-headingOne" data-bs-parent="#accordionFlushExample">
          <div class="accordion-body"> <p>
            A well regulated Militia, being necessary to the security of a free State,
            the right of the people to keep and bear Arms, shall not be infringed.
          </p>
          <ul>
            <li>This is a list item</li>
            <li>Another list item</li>
          </ul></div></div>
      </div>
      <div class="accordion-item">
        <h2 class="accordion-header" id="flush-headingOne">
          <button class="accordion-button collapsed panel" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseOne3" aria-expanded="false" aria-controls="flush-collapseOne">
            Third Amendment
          </button>
        </h2>
        <div id="flush-collapseOne3" class="accordion-collapse1 collapse" aria-labelledby="flush-headingOne" data-bs-parent="#accordionFlushExample">
          <div class="accordion-body">No Soldier shall, in time of peace be quartered in any house, without the consent of the Owner, nor in time of war, but in a manner to be prescribed by law.</div></div>
      </div>
      <div class="accordion-item">
        <h2 class="accordion-header" id="flush-headingOne">
          <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseOne4" aria-expanded="false" aria-controls="flush-collapseOne">
            Fourth Amendment
          </button>
        </h2>
        <div id="flush-collapseOne4" class="accordion-collapse1 collapse" aria-labelledby="flush-headingOne" data-bs-parent="#accordionFlushExample">
          <div class="accordion-body">The right of the people to be secure in their persons, houses, papers, and effects, against unreasonable searches and seizures, shall not be violated, and no Warrants shall issue, but upon probable cause, supported by Oath or affirmation, and particularly describing the place to be searched, and the persons or things to be seized.</div></div>
      </div>
      <div class="accordion-item">
        <h2 class="accordion-header" id="flush-headingOne">
          <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseOne5" aria-expanded="false" aria-controls="flush-collapseOne">
            Fifth Amendment
          </button>
        </h2>
        <div id="flush-collapseOne5" class="accordion-collapse1 collapse" aria-labelledby="flush-headingOne" data-bs-parent="#accordionFlushExample">
          <div class="accordion-body">No person shall be held to answer for a capital, or otherwise infamous crime, unless on a presentment or indictment of a Grand Jury, except in cases arising in the land or naval forces, or in the Militia, when in actual service in time of War or public danger; nor shall any person be subject for the same offence to be twice put in jeopardy of life or limb; nor shall be compelled in any criminal case to be a witness against himself, nor be deprived of life, liberty, or property, without due process of law; nor shall private property be taken for public use, without just compensation.</div></div>
      </div>
    
    </div>
  
    <div>
    <h1 class="a1">BORDERED</h1>
    
    <div class="accordion accordion-flush" id="accordionFlushExample">
      <div class="accordion-item">
        <h2 class="accordion-header" id="flush-headingOne">
          <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseOne6" aria-expanded="false" aria-controls="flush-collapseOne">
            First Amendment
          </button>
        </h2>
        <div id="flush-collapseOne6" class="accordion-collapse1 collapse" aria-labelledby="flush-headingOne" data-bs-parent="#accordionFlushExample">
            <div class="accordion-body">Congress shall make no law respecting an establishment of religion, or prohibiting the free exercise thereof; or abridging the freedom of speech, or of the press; or the right of the people peaceably to assemble, and to petition the Government for a redress of grievances.</div>
        </div>
      </div>
      <div class="accordion-item">
        <h2 class="accordion-header" id="flush-headingOne">
          <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseOne7" aria-expanded="false" aria-controls="flush-collapseOne">
            Second Amendment
          </button>
        </h2>
        <div id="flush-collapseOne7" class="accordion-collapse1 collapse" aria-labelledby="flush-headingOne" data-bs-parent="#accordionFlushExample">
            <div class="accordion-body"> <p>
                A well regulated Militia, being necessary to the security of a free State,
                the right of the people to keep and bear Arms, shall not be infringed.
              </p>
              <ul>
                <li>This is a list item</li>
                <li>Another list item</li>
              </ul></div></div>
      </div>
      <div class="accordion-item">
        <h2 class="accordion-header" id="flush-headingOne">
          <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseOne8" aria-expanded="false" aria-controls="flush-collapseOne">
            Third Amendment
          </button>
        </h2>
        <div id="flush-collapseOne8" class="accordion-collapse1 collapse" aria-labelledby="flush-headingOne" data-bs-parent="#accordionFlushExample">
            <div class="accordion-body">No Soldier shall, in time of peace be quartered in any house, without the consent of the Owner, nor in time of war, but in a manner to be prescribed by law.</div></div>
      
      </div>
      <div class="accordion-item">
        <h2 class="accordion-header" id="flush-headingOne">
          <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseOne9" aria-expanded="false" aria-controls="flush-collapseOne">
            Fourth Amendment
          </button>
        </h2>
        <div id="flush-collapseOne9" class="accordion-collapse1 collapse" aria-labelledby="flush-headingOne" data-bs-parent="#accordionFlushExample">
            <div class="accordion-body">The right of the people to be secure in their persons, houses, papers, and effects, against unreasonable searches and seizures, shall not be violated, and no Warrants shall issue, but upon probable cause, supported by Oath or affirmation, and particularly describing the place to be searched, and the persons or things to be seized.</div></div>
      
      </div>
      <div class="accordion-item">
        <h2 class="accordion-header" id="flush-headingOne">
          <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseOne10" aria-expanded="false" aria-controls="flush-collapseOne">
            Fifth Amendment
          </button>
        </h2>
        <div id="flush-collapseOne10" class="accordion-collapse1 collapse" aria-labelledby="flush-headingOne" data-bs-parent="#accordionFlushExample">
            <div class="accordion-body">No person shall be held to answer for a capital, or otherwise infamous crime, unless on a presentment or indictment of a Grand Jury, except in cases arising in the land or naval forces, or in the Militia, when in actual service in time of War or public danger; nor shall any person be subject for the same offence to be twice put in jeopardy of life or limb; nor shall be compelled in any criminal case to be a witness against himself, nor be deprived of life, liberty, or property, without due process of law; 
                nor shall private property be taken for public use, without just compensation.</div></div>
      
      </div>
    
    </div>
  
    <div></div>
    <h1 class="a1">MULTISELECTABLE</h1>
    
    <div class="accordion accordion-flush" id="accordionFlushExample">
      <div class="accordion-item">
        <h2 class="accordion-header" id="flush-headingOne">
          <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseOne11" aria-expanded="false" aria-controls="flush-collapseOne">
            First Amendment
          </button>
        </h2>
        <div id="flush-collapseOne11" class="accordion-collapse1 collapse" aria-labelledby="flush-headingOne" data-bs-parent="#accordionFlushExample">
            <div class="accordion-body">Congress shall make no law respecting an establishment of religion, or prohibiting the free exercise thereof; or abridging the freedom of speech, or of the press; or the right of the people peaceably to assemble, and to petition the Government for a redress of grievances.</div>
        </div>
      </div>
      <div class="accordion-item">
        <h2 class="accordion-header" id="flush-headingOne">
          <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseOne12" aria-expanded="false" aria-controls="flush-collapseOne">
            Second Amendment
          </button>
        </h2>
        <div id="flush-collapseOne12" class="accordion-collapse1 collapse" aria-labelledby="flush-headingOne" data-bs-parent="#accordionFlushExample">
            <div class="accordion-body"> <p>
                A well regulated Militia, being necessary to the security of a free State,
                the right of the people to keep and bear Arms, shall not be infringed.
              </p>
              <ul>
                <li>This is a list item</li>
                <li>Another list item</li>
              </ul></div></div>
      </div>
      <div class="accordion-item">
        <h2 class="accordion-header" id="flush-headingOne">
          <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseOne13" aria-expanded="false" aria-controls="flush-collapseOne">
            Third Amendment
          </button>
        </h2>
        <div id="flush-collapseOne13" class="accordion-collapse1 collapse" aria-labelledby="flush-headingOne" data-bs-parent="#accordionFlushExample">
            <div class="accordion-body">No Soldier shall, in time of peace be quartered in any house, without the consent of the Owner, nor in time of war, but in a manner to be prescribed by law.</div></div>
        
      </div>
      <div class="accordion-item">
        <h2 class="accordion-header" id="flush-headingOne">
          <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseOne14" aria-expanded="false" aria-controls="flush-collapseOne">
            Fourth Amendment
          </button>
        </h2>
        <div id="flush-collapseOne14" class="accordion-collapse1 collapse" aria-labelledby="flush-headingOne" data-bs-parent="#accordionFlushExample">
            <div class="accordion-body">The right of the people to be secure in their persons, houses, papers, and effects, against unreasonable searches and seizures, shall not be violated, and no Warrants shall issue, but upon probable cause, supported by Oath or affirmation, and particularly describing the place to be searched, and the persons or things to be seized.</div></div>
      
      </div>
      <div class="accordion-item">
        <h2 class="accordion-header" id="flush-headingOne">
          <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseOne15" aria-expanded="false" aria-controls="flush-collapseOne">
            Fifth Amendment
          </button>
        </h2>
        <div id="flush-collapseOne15" class="accordion-collapse1 collapse" aria-labelledby="flush-headingOne" data-bs-parent="#accordionFlushExample">
            <div class="accordion-body">No person shall be held to answer for a capital, or otherwise infamous crime, unless on a presentment or indictment of a Grand Jury, except in cases arising in the land or naval forces, or in the Militia, when in actual service in time of War or public danger; nor shall any person be subject for the same offence to be twice put in jeopardy of life or limb; nor shall be compelled in any criminal case to be a witness against himself, nor be deprived of life, liberty, or property, without due process of law; 
                nor shall private property be taken for public use, without just compensation.</div></div>
      
      </div>
    </div>
      <div>
    <hr>


    <div class=""a9>
        <h2 id="accordion-guidance" class="site-component-section-title b1">
            Guidance
          </h2>
          <div class="site-component-usage">
            
            
            
              <h3 id="when-to-use-the-accordion" class="a6">
                1. When to use the accordion component
              </h3>
              <ul>
                <li>Users will only need a few specific pieces of content within a page.</li>
                
                <li>If you have only a small space to display a lot of content.</li>
              </ul>
            
          <hr class="b2">
          
            
              <h3 id="when-to-consider-something-else-accordion" class="a6 ">
                2. When to consider something else
              </h3>
          
           <ul>
            <li><strong>Users need to see most or all of the information on a page.</strong>  Use well-formatted text instead.</li>
            <li><strong>If there is not enough content to warrant condensing. </strong> Accordions increase cognitive load and interaction cost because users have to make decisions about what headers to click on.</li>
          </ul>
          
            <hr class="b2">
            
            
              <h3 id="usability-guidance-accordion" class="a6">3. Usability guidance</h3>
         

         <ul>
            <li><strong> The entire header selectable.</strong> Allow users to click anywhere in the header area to expand or collapse the content; a larger target is easier to manipulate.</li>
            <li><strong>Give interactive elements enough space.</strong> Make sure interactive elements within the collapsible region are far enough from the headers that users don’t accidentally trigger a collapse. (The exact distance depends on the device.)</li>
          </ul>
            <hr class="b2">
            
            
              <h3 id="accessibility-accordion" class="usa-heading a6">
                4. Accessibility
              </h3>
              <ul class="usa-content-list">
            <li><strong>Code header areas in the accordion as buttons.</strong> Using a <code class="language-plaintext highlighter-rouge">&lt;button type="button"&gt;</code> assures accordions are usable with both screen readers and keyboards.</li>
            <li><strong>Use <code class="language-plaintext highlighter-rouge">aria-expanded</code> on buttons to express an accordion’s default state.</strong> Buttons should state if they are expanded by default with <code class="language-plaintext highlighter-rouge">aria-expanded="true"</code>. The <code class="language-plaintext highlighter-rouge">aria-expanded="false"</code> attribute will be added to other buttons when the accordion is initialized by the JavaScript.</li>
            <li><strong>Use unique ids.</strong> Each button has a unique name, <code class="language-plaintext highlighter-rouge">aria-controls="id"</code>, that associates the control with the appropriate region by referencing the controlled element’s <code class="language-plaintext highlighter-rouge">id</code>.</li>
            <li><strong>Accordions use javascript to set the <code class="language-plaintext highlighter-rouge">hidden</code> values of their content areas.</strong> Each content area will have its <code class="language-plaintext highlighter-rouge">hidden</code> attribute set by the component, depending on its corresponding button’s <code class="language-plaintext highlighter-rouge">aria-expanded</code> attribute. To ensure your content is accessible in the event that the JavaScript does not load or is disabled, you should not manually set <code class="language-plaintext highlighter-rouge">hidden</code> on any of your content areas.</li>
          </ul>
          
            
            
          <hr class="b2">
              <h3  id="using-the-accordion-component" class="usa-heading a6">
                5. Using the accordion component
              </h3>
              <ul class="usa-content-list">
            <li><strong>Multiselectable accordion groups.</strong> Add the <code class="language-plaintext highlighter-rouge">data-allow-multiple</code> attribute to any usa-accordion to create a multiselectable accordion group.</li>
            <li><strong>Default an accordion button to open.</strong> Add the <code class="language-plaintext highlighter-rouge">aria-expanded="true"</code> attribute to any <code class="language-plaintext highlighter-rouge">usa-accordion__button</code> to have that section open by default at page load.</li>
          </ul>
          
          <hr class="b2">


                <h4 id="component-settings-accordion" class="b0">
                  Accordion settings
                </h4>
                
                <hr class="b2">
                
          
          
          
          
          
          
          
            <table class="usa-table--borderless site-table-responsive site-table-simple">
              <thead>
                <tr>
                  <th scope="col" class="flex-6 display-inline-flex">Variable</th>
                  <th scope="col" class="flex-6 display-inline-flex">Description</th>
                </tr>
              </thead>
              <tbody class="font-mono-2xs">
                
                <tr>
                  <td data-title="Variable" class="flex-6 display-inline-flex flex-align-start">
                    <code class="b5">
                      $theme-accordion-border-width
                    </code>
                  </td>
                  <td data-title="Description" class="flex-6 display-inline-flex flex-align-start">
                    <span class="font-lang-3xs">
                        <p>Border width of the bordered accordion.</p>
          
                    </span>
                  </td>
                </tr>
                
                <tr>
                  <td data-title="Variable" class="flex-6 display-inline-flex flex-align-start">
                    <code class="b5">
                      $theme-accordion-border-color
                    </code>
                  </td>
                  <td data-title="Description" class="flex-6 display-inline-flex flex-align-start">
                    <span class="font-lang-3xs">
                        <p>Border color of the bordered accordion.</p>
          
                    </span>
                  </td>
                </tr>
                
                <tr>
                  <td data-title="Variable" class="flex-6 display-inline-flex flex-align-start">
                    <code class="b5">
                      $theme-accordion-font-family
                    </code>
                  </td>
                  <td data-title="Description" class="flex-6 display-inline-flex flex-align-start">
                    <span class="font-lang-3xs">
                      <p>Font family of the accordion.</p>
          
                    </span>
                  </td>
                </tr>
                
              </tbody>
            </table>
          

            
          <hr>
                <h4 id="component-variants-accordion " class="b0">
                  Accordion variants
                </h4>
                
          
          
            <table class="usa-table--borderless site-table-responsive site-table-simple margin-top-105">
              <thead>
                <tr>
          
                  <th scope="col" class="flex-1 display-inline-flex">Variant</th>
          
                  <th scope="col" class="flex-1 display-inline-flex">Description</th>
                </tr>
              </thead>
              <tbody class="font-lang-3xs">
                <tr>
          
                  <td class="flex-1 display-inline-flex flex-align-start"
                    data-title="Variant"
                    >
                    <p><code class="language-plaintext highlighter-rouge b5">.usa-accordion--bordered</code></p>
          
                  </td>
          
                  <td class="flex-1 display-inline-flex flex-align-start"
                    data-title="Description"
                    >
                    <p>Display a border around accordion content.</p>
          
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
          <h2 id="accordion-package" class="site-component-section-title b0" >Package</h2>
          <ul class="usa-content-list">
            <li>
              <strong>Package usage:</strong> <code class="b5"> @forward "usa-accordion";</code>
            </li>
            <li><strong>Dependencies: </strong><code class="b5"> uswds-fonts,usa-list</code>
          </li>
          </ul>
      </div>
    </div>
  </div>  
