
<br>

<div class="container" id="main">


  <div id="inner-wrap" class="wrap hfeed kt-clear">
  	<div id="primary" class="content-area">
  	  <div class="content-container site-container">
  		  <main id="main" class="site-main" role="main">
  				<div class="content-wrap">
  				  <article id="post-1461" class="entry content-bg single-entry post-footer-area-boxed post-1461 post type-post status-publish format-standard has-post-thumbnail hentry category-wcag tag-a11y tag-keyboard tag-operable tag-wcag">
  	          <div class="entry-content-wrap">
  		          <header class="entry-header post-title title-align-inherit title-tablet-align-inherit title-mobile-align-inherit">
  	              <div class="kadence-breadcrumbs rankmath-bc-wrap">
                    <nav aria-label="breadcrumbs" class="rank-math-breadcrumb">
                      <p id="p">
                        <a href="/home">Home</a><span class="separator"> » </span>
                        <span class="last">Understanding SC 1.4.5 Image of Text</span>
                      </p>
                    </nav>
                  </div>
                        <div class="entry-taxonomies">
                   <span class="category-links term-links category-style-normal">
                    <a href="https://www.digitala11y.com/category/web-accessibility/wcag/" rel="tag">WCAG</a>
                   </span>
                      </div><!-- .entry-taxonomies -->
                        <h1 class="entry-title">Understanding SC 1.4.5 Image of Text</h1>

                </header><!-- .entry-header -->

                <div class="entry-content single-content">


               <nav id="navbar" class="navbar bg-light px-3 mb-3">
                  <!-- <a class="navbar-brand" href="#">Navbar</a> -->
                  <div class="container">
                    <span class="listitem" id="pp">Table of Contents</span>
                  </div>
                  <div class="container" id="p">
                    <ul class="nav nav-pills">
                      <ul>
                        <li>
                          <a class="list-group-item" href="#desc">Description</a>
                        </li>
                        <li>
                          <a class="list-group-item" href="#intent">Intent</a>
                        </li>
                        <li>
                          <a class="list-group-item" href="#HeadingWW">What's wrong in that</a>
                        </li>
                        <!-- <li>
                          <a class="list-group-item" href="#HeadingWB">Who Benefits</a>
                        </li> -->
                        <li>
                          <a class="list-group-item" href="#HeadingEx">Must we avoid image of text altogether?</a>
                        </li>
                        <li>
                          <a class="list-group-item" href="#Heading1">Points to Ponder</a>
                        </li>
                        <ul>
                          <li>
                            <a class="list-group-item" href="#Heading2">Related WCAG Articles</a>
                          </li>
                          <ul>
                            <li>
                              <a class="list-group-item" href="#Heading4">References</a>
                            </li>
                          </ul>

                        </ul>
                      </ul>


                      <!-- <li>

                        <a class="list-group-item" href="#Heading1">Points to Ponder</a>
                        <ul>
                          <li>
                          <a class="list-group-item" href="#Heading2">Related WCAG Articles</a>
                          </li>
                          <ul>
                            <li>

                              <a class="list-group-item" href="#Heading3">Useful Resources on Keyboard</a>
                            </li>
                          </ul>
                          <ul>
                            <li>
                              <a class="list-group-item" href="#Heading4">References</a>
                            </li>
                          </ul>

                        </ul>
                      </li> -->
                    </ul>
                  </div>


                </nav>
                <hr>
                <div data-bs-spy="scroll" data-bs-target="#navbar" data-bs-root-margin="0px 0px -40%" data-bs-smooth-scroll="true" class="scrollspy-example bg-light p-3 rounded-2" tabindex="0">
                  <!-- <h4 id="Heading1">Points To Ponder</h4> -->
                  <div class="wp-block-image">
                  <figure class="aligncenter size-full is-resized">
                    <img decoding="async" src="https://i0.wp.com/www.digitala11y.com/wp-content/uploads/2021/11/1.4.5-images-of-text.png?resize=256%2C256&ssl=1" alt="" class="wp-image-12379 lazyloaded" width="256" height="256" data-recalc-dims="1" data-ll-status="loaded">
                    <noscript>
                      <img decoding="async" src="https://i0.wp.com/www.digitala11y.com/wp-content/uploads/2021/11/2.1.1-Keyboard.png?resize=256%2C256&#038;ssl=1" alt="" class="wp-image-12379" width="256" height="256" data-recalc-dims="1" />
                    </noscript>
                  </figure>
                  </div>

                  <blockquote id="desc">
                    <p class="p" id="p">
                    If the technologies being used can achieve the visual
                    presentation, text is used to convey information rather
                    than images of text except for the following: (Level AA)

                    </p>

                    <ul class="p" id="p">
                      <li>
                        Customizable: The image of text can be visually
                        customized to the user’s requirements;
                      </li>
                      <li>
                        Essential: A particular presentation of text is
                        essential to the information being conveyed.
                      </li>
                    </ul>

                    <p class="p" id="p">
                      Note: Logotypes (text that is part of a logo or brand name)
                      are considered essential.
                    </p>



                  </blockquote>
                  <br>



                  <!-- <h4 id="intent">Intent of this success Criterion</h4> -->
                  <div class="container" id="intent">

                    <p class="p" id="p">
                      This success criterion encourages authors to use text
                      representations wherever possible where they have
                      employed technologies to achieve a visual representation
                      of the same text. For example, a blog post in an
                      organization’s site quotes the CEO from his/her
                      recent address. In order to highlight the quotation,
                      the quotation has been designed with a font that is
                      otherwise unavailable and so the quotation is a JPG or
                       a Bitmap image designed using an external application.
                    </p>
                  </div>

                  <hr>
                  <br>
                  <h4 id="HeadingWW">What's wrong in that?</h4>
                  <div class="container">

                    <p class="p" id="p">
                      <br>
                      Well, the following problems would arise for the
                      following user groups:

                    </p>

                    <ul class="p" id="p">
                      <li>
                        People with low vision who may have reading problems
                        because of the font family, size, color and so on.
                        They can’t change the font, resize the text or
                        customize the image of text
                      </li>
                      <li>
                        People with visual tracking problems who can’t read
                        the image of text because of spacing and alignment
                        and they can’t customize these things
                      </li>
                      <li>
                        People with cognitive disabilities that affect reading.
                      </li>
                    </ul>
                  </div>



                  <hr>
                  <br>
                  <h4 id="HeadingEx">Must we avoid image of text altogether</h4>
                  <div class="container">
                    <p class="p" id="p">
                      No, WCAG discourages but not dismisses the idea of image
                      of texts. There are some exceptions to consider here:
                    </p>
                    <ul class="p" id="p">
                      <li>
                        <svg style="display:inline-block;vertical-align:middle" viewBox="0 0 24 24" height="20" width="20" fill="none" stroke="currentColor" xmlns="http://www.w3.org/2000/svg" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" aria-hidden="true"><rect x="3" y="3" width="18" height="18" rx="2" ry="2"></rect><circle cx="8.5" cy="8.5" r="1.5"></circle><polyline points="21 15 16 10 5 21"></polyline>
                        </svg>
                        <span>
                          Graphs, diagrams and screenshots which visually
                          convey more than the text
                        </span>

                      </li>
                      <li>
                        <svg style="display:inline-block;vertical-align:middle" viewBox="0 0 24 24" height="20" width="20" fill="none" stroke="currentColor" xmlns="http://www.w3.org/2000/svg" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" aria-hidden="true"><rect x="3" y="3" width="18" height="18" rx="2" ry="2"></rect><circle cx="8.5" cy="8.5" r="1.5"></circle><polyline points="21 15 16 10 5 21"></polyline>
                        </svg>
                        <span>
                          Texts that are essential in pictures like logos and brand images
                          <br>
                          Texts that are designed with a specific font family which cannot be
                        </span>

                      </li>
                      <li>
                        <svg style="display:inline-block;vertical-align:middle" viewBox="0 0 24 24" height="20" width="20" fill="none" stroke="currentColor" xmlns="http://www.w3.org/2000/svg" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" aria-hidden="true"><rect x="3" y="3" width="18" height="18" rx="2" ry="2"></rect><circle cx="8.5" cy="8.5" r="1.5"></circle><polyline points="21 15 16 10 5 21"></polyline>
                        </svg>
                        <span>
                          reproduced in any other way except for image and/or the
                          author has no rights to distribute the font at all
                        </span>


                      </li>
                      <li>
                        <svg style="display:inline-block;vertical-align:middle" viewBox="0 0 24 24" height="20" width="20" fill="none" stroke="currentColor" xmlns="http://www.w3.org/2000/svg" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" aria-hidden="true"><rect x="3" y="3" width="18" height="18" rx="2" ry="2"></rect><circle cx="8.5" cy="8.5" r="1.5"></circle><polyline points="21 15 16 10 5 21"></polyline>
                        </svg>
                        <span>
                          Image of texts which have controls to customize font, size, alignment and spacing.

                        </span>


                      </li>

                    </ul>

                  </div>





                    <hr>
                    <br>
                    <h4 id="Heading1">Points To Ponder</h4>

                    <div class="container">
                      <ul class="ul-1">
                        <li class="listitem-1">
                          <div class="container">
                            <svg style="display:inline-block;vertical-align:middle" viewBox="0 0 24 24" height="20" width="20" fill="none" stroke="currentColor" xmlns="http://www.w3.org/2000/svg" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" aria-hidden="true">
                              <path d="M22 11.08V12a10 10 0 1 1-5.93-9.14"></path>
                              <polyline points="22 4 12 14.01 9 11.01"></polyline>
                            </svg>
                            <span class="list-text">
                              Use CSS styled headings instead of Bitmap images
                            </span>
                          </div>
                        </li>
                        <li class="listitem-1">
                          <div class="container">
                            <svg style="display:inline-block;vertical-align:middle" viewBox="0 0 24 24" height="20" width="20" fill="none" stroke="currentColor" xmlns="http://www.w3.org/2000/svg" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" aria-hidden="true">
                              <path d="M22 11.08V12a10 10 0 1 1-5.93-9.14"></path>
                              <polyline points="22 4 12 14.01 9 11.01"></polyline>
                            </svg>
                            <span class="kt-svg-icon-list-text">
                              Provide site-wide controls to customize the
                              images of texts when there are dynamically
                              generated images of texts
                            </span>
                          </div>
                        </li>
                        <li class="listitem-1">
                          <div class="container">
                            <svg style="display:inline-block;vertical-align:middle" viewBox="0 0 24 24" height="20" width="20" fill="none" stroke="currentColor" xmlns="http://www.w3.org/2000/svg" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" aria-hidden="true">
                              <path d="M22 11.08V12a10 10 0 1 1-5.93-9.14"></path>
                              <polyline points="22 4 12 14.01 9 11.01"></polyline>
                            </svg>
                            <span class="kt-svg-icon-list-text">
                              Use CSS to specify spacing, alignment, color and
                              the font family of any UI elements, their texts
                              and icons, quotations etc
                            </span>
                          </div>
                        </li>
                        <li class="listitem-1">
                          <div class="container">
                            <svg style="display:inline-block;vertical-align:middle" viewBox="0 0 24 24" height="20" width="20" fill="none" stroke="currentColor" xmlns="http://www.w3.org/2000/svg" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" aria-hidden="true">
                              <path d="M22 11.08V12a10 10 0 1 1-5.93-9.14"></path>
                              <polyline points="22 4 12 14.01 9 11.01"></polyline>
                            </svg>
                            <span class="kt-svg-icon-list-text">
                              Use keyboard generated symbols wherever
                              possible instead of making them as images.
                            </span>
                          </div>
                        </li>





                      </ul>
                    </div>
<br>
<br>  <hr>
                  <h4 id="Heading2">Related WCAG Articles</h4>

                  <div class="container">
                    <ul class="ul-2">
                      <li class="listitem-2">
                        <div style="display:inline-flex;justify-content:center;align-items:center" class="kt-svg-icon-list-single kt-svg-icon-list-single-fe_eye">

                          <svg style="display:inline-block;vertical-align:middle" viewBox="0 0 24 24" height="20" width="20" fill="none" stroke="currentColor" xmlns="http://www.w3.org/2000/svg" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" aria-hidden="true"><path d="M19 21l-7-5-7 5V5a2 2 0 0 1 2-2h10a2 2 0 0 1 2 2z">
                          </path></svg>
                        </div>
                        <span class="kt-svg-icon-list-text">
                          <a href="/guidelines" data-type="post" data-id="1448">Understanding SC 1.4.1 Use of Color</a>
                        </span>
                      </li>
                      <li class="listitem-2">
                        <div style="display:inline-flex;justify-content:center;align-items:center" class="kt-svg-icon-list-single kt-svg-icon-list-single-fe_eye">

                          <svg style="display:inline-block;vertical-align:middle" viewBox="0 0 24 24" height="20" width="20" fill="none" stroke="currentColor" xmlns="http://www.w3.org/2000/svg" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" aria-hidden="true"><path d="M19 21l-7-5-7 5V5a2 2 0 0 1 2-2h10a2 2 0 0 1 2 2z">
                          </path></svg>
                        </div>
                        <span class="kt-svg-icon-list-text">
                          <a href="/guidelines" data-type="post" data-id="1448">Understanding SC 1.4.3 Contrast Minimum</a>
                        </span>
                      </li>



                    </ul>
                  </div>

                  <!-- <h4 id="Heading3">Useful Resources on Keyboard</h4>
                  <p>...</p> -->

                  <br><hr>
                  <h4 id="Heading4">References</h4>


                  <div class="container">
                    <ul class="ul-3">
                      <li class="listitem-3">
                        <div style="display:inline-flex;justify-content:center;align-items:center" class="kt-svg-icon-list-single kt-svg-icon-list-single-fe_globe">

                          <svg style="display:inline-block;vertical-align:middle" viewBox="0 0 24 24" height="20" width="20" fill="none" stroke="currentColor" xmlns="http://www.w3.org/2000/svg" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" aria-hidden="true"><circle cx="12" cy="12" r="10"></circle><line x1="2" y1="12" x2="22" y2="12"></line><path d="M12 2a15.3 15.3 0 0 1 4 10 15.3 15.3 0 0 1-4 10 15.3 15.3 0 0 1-4-10 15.3 15.3 0 0 1 4-10z">
                            </path>
                          </svg>
                          <!-- <svg style="display:inline-block;vertical-align:middle" viewBox="0 0 24 24" height="20" width="20" fill="none" stroke="currentColor" xmlns="http://www.w3.org/2000/svg" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" aria-hidden="true"><path d="M19 21l-7-5-7 5V5a2 2 0 0 1 2-2h10a2 2 0 0 1 2 2z">
                          </path></svg> -->
                        </div>
                        <span class="kt-svg-icon-list-text"><a href="https://www.w3.org/TR/UNDERSTANDING-WCAG20/keyboard-operation-keyboard-operable.html" rel="nofollow noopener">Understanding Success Criterion 1.4.5 </a>
                        </span>
                      </li>
                    </ul>
                  </div>

                  <!-- <h4 id="scrollspyHeading5">Fifth heading</h4>
                  <p>...</p> -->
                </div>





                <div class="container justify-content-center">
                  <div class="row">
                    <div class="col-3">
                    </div>
                    <div class="col-sm-6 p-2">
                      <div class="container" id="p">
                        <a class="next text-center" href="/guidelines">Read Next: Understanding SC 1.4.10 Reflow
                        </a>
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-3">
                    </div>
                    <div class="col-sm-6">
                      <div class="container" id="p">
                        <a class="previous text-center" href="https://www.digitala11y.com/wcag-checklist/">Explore our WCAG Checklist
                        </a>
                      </div>
                    </div>
                  </div>
                </div>


                <div class="container p-4">

                </div>


      </div><!-- .entry-content -->
  	</div>
  </article><!-- #post-1461 -->

  			</div>
  					</main><!-- #main -->

  	    </div>
    </div><!-- #primary -->
  </div>
</div>
