/* #p{
  text-align: left;
  font-weight: bold;
  font-size: 30px;
}

#s{
  font-weight: bold;
  font-size: 25px;
}

#ss{
  font-size: 20px;
}

a{
  text-decoration: none;
} */
.content-area {
    margin-top: 5rem;
    margin-bottom: 5rem;
}

/* .content-area {
    margin: var(--global-xxl-spacing) 0;
} */
.site-container, .site-header-row-layout-contained, .site-footer-row-layout-contained, .entry-hero-layout-contained, .comments-area, .alignfull > .wp-block-cover__inner-container, .alignwide > .wp-block-cover__inner-container {
    max-width: var(--global-content-width);
}
.site-container, .site-header-row-layout-contained, .site-footer-row-layout-contained, .entry-hero-layout-contained, .alignfull>.wp-block-cover__inner-container, .alignwide>.wp-block-cover__inner-container {
    margin: 0 auto;
    padding: 0 var(--global-content-edge-padding);
}

.kb-table-of-contents-title-wrap {
    display: -webkit-flex;
    display: flex;
    -webkit-align-content: space-between;
    align-content: space-between;
    -webkit-align-items: center;
    align-items: center;
    width: 100%;
    border-style: solid;
    border-width: 0;
}
.kb-table-of-content-nav .kb-table-of-content-wrap {
    border-style: solid;
    border-width: 0;
    padding: 20px;
}
.kb-table-of-contents-title-wrap .kb-table-of-contents-title {
    -webkit-flex-grow: 1;
    flex-grow: 1;
}

.kb-table-of-content-nav .kb-table-of-contents-title {
    font-size: 110%;
    font-weight: 700;
    display: block;
}
.kb-table-of-content-nav .kb-table-of-content-wrap .kb-table-of-content-list {
    margin: 20px 0 0;
    padding-left: 1.75em;
    list-style: disc;
}
.content-bg, body.content-style-unboxed .site {
    background: var(--global-palette8);
}

.kb-table-of-content-nav .kb-table-of-content-wrap .kb-table-of-content-list .kb-table-of-contents__entry {
    color: inherit;
}
.kb-table-of-content-nav .kb-table-of-content-wrap .kb-table-of-content-link-style-underline a {
    text-decoration: underline;
}
.kb-table-of-content-nav .kb-table-of-content-wrap {
    border-style: solid;
    border-width: 0;
    padding: 20px;
}
.kt-clear::before, .kt-clear::after {
    content: ' ';
    display: table;
}
*, *::before, *::after {
    box-sizing: inherit;
}
.kt-clear::after {
    clear: both;
}
div {
    display: block;
}
*[_ngcontent-uai-c21], *[_ngcontent-uai-c21]::before, *[_ngcontent-uai-c21]::after {
    box-sizing: inherit;
}
a:hover, a:active {
    outline: 0;
}
li {
    display: list-item;
    text-align: -webkit-match-parent;
}
.single-content h1, .single-content h2, .single-content h3, .single-content h4, .single-content h5, .single-content h6 {
    margin: 1.5em 0 0.5em;
}
h1 {
    font-style: normal;
    font-weight: 400;
    font-size: 28px;
    line-height: 1.5;
    font-family: "Source Sans Pro", sans-serif;
    color: var(--global-palette3);
}
h2 {
    font-style: normal;
    font-weight: 400;
    font-size: 26px;
    line-height: 1.5;
    font-family: "Source Sans Pro", sans-serif;
    color: var(--global-palette3);
}
h1, h2, h3, h4, h5, h6 {
    font-family: var(--global-heading-font-family);
}
body, input, select, optgroup, textarea {
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 1.62;
    letter-spacing: 0.18px;
    font-family: var(--global-body-font-family);
    color: var(--global-palette4);
}
::marker {
    unicode-bidi: isolate;
    font-variant-numeric: tabular-nums;
    text-transform: none;
    text-indent: 0px !important;
    text-align: start !important;
    text-align-last: start !important;
}
